<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nikerino.trans</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1C365BCF-3E29-456E-AD8A-91AF5F5E9A51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93ABE898-3228-4531-B25A-29E8D0A14C6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82BA1B5E-1674-4224-ACBA-A5B7D29A2F89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D463AD6-56DE-470E-83FB-981BA372D070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9417F7F6-B6C1-48D2-9A6C-EE7059206F17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8136A76-E261-4F11-AC9B-940955B3D866</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4F9A073-03FE-416E-AD3A-E9FC6B348A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9417F7F6-B6C1-48D2-9A6C-EE7059206F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E575865A-3575-4244-BDEE-97FED1E671B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C365BCF-3E29-456E-AD8A-91AF5F5E9A51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82BA1B5E-1674-4224-ACBA-A5B7D29A2F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4F9A073-03FE-416E-AD3A-E9FC6B348A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nikersify (nikerino.com) &lt;nikersify@nikerino.com&gt;</string>
	<key>description</key>
	<string>Translate text using Google Translate</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node update-config.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93ABE898-3228-4531-B25A-29E8D0A14C6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1C365BCF-3E29-456E-AD8A-91AF5F5E9A51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9D463AD6-56DE-470E-83FB-981BA372D070</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>trans</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Translate '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E575865A-3575-4244-BDEE-97FED1E671B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>82BA1B5E-1674-4224-ACBA-A5B7D29A2F89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9417F7F6-B6C1-48D2-9A6C-EE7059206F17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B8136A76-E261-4F11-AC9B-940955B3D866</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D4F9A073-03FE-416E-AD3A-E9FC6B348A58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Optional setup:
1. !set default-language (language)
(language) is the defautl language text gets translated to, if "from" parameter is not specified.

2. Optional: Remove default translate workflow
Alfred Preferences -&gt; Features -&gt; Web Search -&gt; translate -&gt; enabled: false

Usage:
(text) [from (language)] [to (language)]

&gt; trans green from en to de
-&gt; Grün

&gt; trans flower to af
-&gt; blom</string>
	<key>uidata</key>
	<dict>
		<key>1C365BCF-3E29-456E-AD8A-91AF5F5E9A51</key>
		<dict>
			<key>note</key>
			<string>var:action == "config"</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>82BA1B5E-1674-4224-ACBA-A5B7D29A2F89</key>
		<dict>
			<key>note</key>
			<string>var:action == "url"</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>93ABE898-3228-4531-B25A-29E8D0A14C6D</key>
		<dict>
			<key>note</key>
			<string>Update config</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9417F7F6-B6C1-48D2-9A6C-EE7059206F17</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>9D463AD6-56DE-470E-83FB-981BA372D070</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>B8136A76-E261-4F11-AC9B-940955B3D866</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>D4F9A073-03FE-416E-AD3A-E9FC6B348A58</key>
		<dict>
			<key>note</key>
			<string>var:action == "copy"</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E575865A-3575-4244-BDEE-97FED1E671B8</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nikersify/alfred-trans</string>
</dict>
</plist>
